@import "tailwindcss";


@theme {

  --color-honey: #EB9605;
  --color-honey-light: #F4B642;

  --color-background: #FFFCF8;
  --color-cream: #FFF8ED;

  --color-brown: #3C2B1D;
  --color-brown-light: #6A4C2B;

  --color-border: #EFE4D3;


  --font-heading:
  "Cormorant Garamond",
  serif;


  --font-body:
  "Inter",
  sans-serif;

}


html {
  scroll-behavior: smooth;
}


body {

  margin:0;

  font-family:
  var(--font-body);

  background:
  var(--color-background);

}

* {
  box-sizing: border-box;
}


body {
  overflow-x: hidden;
}


img {
  max-width: 100%;
}

body {
  background:#FFF7E6;
  color:#422006;
}