@import "tailwindcss";


:root {

--honey:#EB9605;
--honey-dark:#C87900;

--cream:#FFF4DC;

--background:#FFF9EF;

--brown:#3A2415;

--brown-light:#765538;

--border:#E8D7BA;

}


html{

scroll-behavior:smooth;

}



body{

margin:0;

background:#FFF9EF;

color:#3A2415;

font-family:"Inter",sans-serif;

}



h1,
h2,
h3,
h4{

font-family:"Cormorant Garamond",serif;

}



*{

box-sizing:border-box;

}



img{

max-width:100%;

display:block;

}



a{

text-decoration:none;

}